<h1>ユーザー編集</h1>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :birthday, '誕生日' %>
    <%= f.date_select :birthday %>
  </div>

  <div>
    <%= f.submit '更新', class: 'btn btn-primary' %>
  </div>
<% end %>

<div>
  <%= button_to "削除", user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>


