<h1>ユーザー編集</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :birthday, "誕生日" %>
    <%= form.date_select :birthday %>
  </div>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<div>
  <%= button_to "削除", user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>


