<!DOCTYPE html>
<html>
<head>
  <title>My Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="<%= asset_path 'styles.css' %>">
</head>
<body>
  <header>
    <div class="header-container">
      <h1>病院のアプリケーション</h1>
      <nav>
        <ul>
          <li><%= link_to 'ホーム', root_path %></li>
          <li><%= link_to 'ユーザー一覧', users_path %></li>
          <li><%= link_to '新規ユーザー登録', new_user_path %></li>
          <!-- 他のリンクを追加 -->
        </ul>
      </nav>
    </div>
  </header>

  <div class="content">
    <%= yield %>  <!-- 各ビューの内容がここに挿入される -->
  </div>

  <footer>
    <div class="footer-container">
      <p>© 2024 病院のアプリケーション</p>
    </div>
  </footer>
</body>
</html>
